@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@400;700&display=swap');
/* navbar */

html, body{
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}
.error{
  /* margin-top: 25px; */
  color: firebrick;
}
.navbar{
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: rgb(180,180,180);
  background: radial-gradient(circle, rgba(182,182,182,1) 0%, rgba(64,64,64,1) 100%);

}
.navbar-bar{
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.navbar-bar ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-family: 'Quicksand' sans-serif;
  padding: 0;
}
.navbar-bar ul li{
  list-style: none;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
}
.navbar-listitem-nameActive{
  color: rgb(255, 212, 120);
}
.navbar-listItem{
  color: #d9d9d9;
}
.logout-btn{
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(139, 136, 136);
  color: #fff;
  font-weight: 600;
  box-shadow: 1px 1px 1px 0px #000000;
}

/* sign in */
.signin-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  background: rgb(224,224,224);
  background: radial-gradient(circle, rgba(224,224,224,0.6889430732484076) 0%, rgba(70,70,70,0.6421919109440651) 100%);
}

.signin-form-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 2rem 0rem;
}

.signin-form{
  width: auto;
}

.signin-form input{
  width: 200px;
  padding: 8px;
  border: none;
  margin: 5px 0px;
  border-radius: 5px;
}

.password-input{
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-between;
}

.password-input form{}

.password-input button{
  padding: 5px 15px;
  border: none;
  height: 30px;
  border-radius: 5px;
  background: rgb(210,194,173);
  background: radial-gradient(circle, rgba(210,194,173,0.6889430732484076) 0%, rgba(111,87,63,0.6421919109440651) 100%);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.signinBar{}
.signinBar button{
  width: 100%;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  background: radial-gradient(circle, rgba(65,173,213,0.6889430732484076) 0%, rgba(95,205,255,0.6421919109440651) 100%);
}

.signin-form a{
  text-decoration: none;
}
.signin-form-container a{
  text-decoration: none;
}

/* forgot */
.forgot-password-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  background: rgb(224,224,224);
  background: radial-gradient(circle, rgba(224,224,224,0.6889430732484076) 0%, rgba(70,70,70,0.6421919109440651) 100%);
}

.forgot-form-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 2rem 0rem;
}
.forgot-form-container input{
  width: 200px;
  padding: 8px;
  border: none;
  margin: 5px 0px;
  border-radius: 5px;
}
.forgot-form-container button{
  width: 100%;
  padding: 8px 15px;
  margin-top: 7px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  background: rgb(108,175,106);
  background: radial-gradient(circle, rgba(65,173,213,0.6889430732484076) 0%, rgba(95,205,255,0.6421919109440651) 100%);
}

/* profile */
.profile-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.profile-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: auto;
  background: rgb(224,224,224);
  background: radial-gradient(circle, rgba(224,224,224,0.6889430732484076) 0%, rgba(70,70,70,0.6421919109440651) 100%);
}

.profile-details-and-button{
  display: flex;
  /* flex-direction: column; */
  width: 90vw;
  justify-content: center;
  align-items: flex-end;
}
.profile-details-and-button button{
  width: 100px;
  
}
.personal-btn-name{
  display: flex;
  flex-direction: column;
}

.create-note-container{
  width: 100vw;
}

.create-note-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}
.create-note-content form input{
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 40%;
  margin: 0 5px;
  box-shadow: 1px 1px 5px 0px #000000;
  text-transform: capitalize;
}
.create-form-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 170px;
}
.text-form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
}

.add-img-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
}
.add-img-section button{
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  padding: 3px 8px;
  border-radius: 5px;
  background: rgb(255, 95, 95);
  color: #fff;
  margin-top: 8px;
}
.img-form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
#images{
  width: 200px;
  box-shadow: none;
}

.add-img-btn-label{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 14%;
}
.add-img-btn-label p{
  margin-bottom: 4px;
}
.add-img-btn-label button{
  padding: 7px 0px;
  border: transparent;
  border-radius: 5px;
  font-weight: 600;
  background: rgb(248, 178, 86);
  color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px #000000;
}

.welcome-back p{
  display: flex;
}
.welcome-name{
  margin-left: 2px;
}
svg{
  cursor: pointer;
}

.create-form-container form button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(65,173,213);
  background: radial-gradient(circle, rgba(65,173,213,0.6889430732484076) 0%, rgba(95,205,255,0.6421919109440651) 100%);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 1px 1px 3px 0px #000000;
  margin: 0;
}

input:focus::placeholder {
  color: transparent;
}
.profile-card{}

.profile-notes-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile-notes-container ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 0;
  
}
.profile-notes-container ul li{
  width: auto;
  margin: 10px 30px;
  padding: 25% 1%;
  display: flex;
  flex-direction: column;
  height: 70%;
  word-break: break-word;
  text-transform: capitalize;
  text-align: center;
}

.each-note{
  border-radius: 5px;
  position: relative;
  margin: 10px;
  height: 300px;
  width: 300px;
  font-family: 'Indie Flower', sans-serif;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
}
.each-note .date{
  position: absolute;
  bottom: 14%;
  font-size: 1rem;
}
.delete-btn{
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  color: rgb(197, 0, 0);
}
.p{
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.note-btn-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.note-btn-container button{
  margin: 5px;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
}

.edit-note-container{
  position: absolute;
  bottom: 2%;
}
.edit-note-container input{
  border: transparent;
  border-radius: 5px;
  padding: 3px;
}
.edit-note-container button{
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  padding: 3px 8px;
  border-radius: 5px;
  background: radial-gradient(circle, rgba(65,173,213,0.6889430732484076) 0%, rgba(95,205,255,0.6421919109440651) 100%);
  color: #fff;
}

.uploaded-img{
  height: 300px;
  width: 100%;
  object-fit: contain;
}

/* home */
.home-container{
  position: relative;
  background: radial-gradient(circle, rgba(182,182,182,1) 0%, rgba(64,64,64,1) 100%);
  height: 100vh;
  overflow: hidden;
}
.home-content{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  height: 100vh;
  /* width: 100vw; */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  overflow: hidden;
  object-position: center;
 object-fit: cover;

}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.home-btn-container{
  width: 300px;
  height: 300px;
  display: flex;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
}
.home-btn-container button{
  border: transparent;
  border-radius: 5px;
  width: 125px;
  height: 75px;
  font-size: 1.5rem;
  margin: 0px 10px;
  cursor: pointer;
  box-shadow:  1px 1px 5px 0px #000000

}
.home-btn{}
.home-signin-btn{
  
}

/* phone */
@media(max-width: 500px){
  .navbar-bar ul{
    justify-content: center;
    padding: 0;
  }
  .navbar-bar ul li{
    margin: 0px 10px;
  }
  .password-input{
    flex-direction: column;
    align-items: baseline;
  }
  .password-input button{
    margin: 10px 0px;
  }
  .signinBar button{
    margin: 10px 0px;
  }
  .signin-form input{
    width: auto;
    margin-bottom: 10px;
  }
  .profile-notes-container ul{
    margin: 0;
    padding: 0;
  }
  .signin-container{
    align-items: unset;
  }
  .signin-container header p{
    text-align: center;
  }
}